.project-item .day:hover {
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  color: var(--main-col);
}

.project-item .day1:hover {
  background-image: url("../Day 1 - Expanding cards/img/Spring2.jpg");
  color: rgb(250, 246, 37);
}

.project-item .day2:hover {
  background-image: url("../Day 2 - Progress Steps/img/steps.jpg");
}

.project-item .day3:hover {
  background-image: url("../Day 3 - Rotating navigation/img/projecthumb.jpg");
  color: #fff;
}

.project-item .day3:hover {
  /* background-image: url("../Day 3 - Rotating navigation/img/projecthumb.jpg"); */
}
