.project-item .day1:hover {
  background-image: url("../Day 1 - Expanding cards/img/Spring2.jpg");
  background-size: cover;
  border-radius: 0.5rem;
  color: rgb(250, 246, 37);
}

.project-item .day2:hover {
  background-image: url("../Day 2 - Progress Steps/img/steps.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  color: var(--main-col);
}
