.project-item .day:hover {
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  color: var(--main-col);
}

.project-item .day1:hover {
  background-image: url("../Day 1 - Expanding cards/img/Spring2.jpg");
  color: rgb(250, 246, 37);
}

.project-item .day2:hover {
  background-image: url("../Day 2 - Progress Steps/img/steps.jpg");
}

.project-item .day3:hover {
  background-image: url("../Day 3 - Rotating navigation/img/projecthumb.jpg");
  color: white;
}

.project-item .day4:hover {
  background-image: url("../Day 4 - Hidden Search Widget/img/projecthumb.jpg");
  color: var(--nav-bg);
}

.project-item .day5:hover {
  background-image: url("../Day 5 - Blurry loading/img/projecthumb.jpg");
  color: rgb(250, 246, 37);
}

.project-item .day6:hover {
  background-image: url("../Day 6 - Scroll Animation/img/projecthumb.jpg");
  color: rgb(53, 44, 44);
}

.project-item .day7:hover {
  background-image: url("../Day 7 - Split Landing Page/img/projecthumb.jpg");
  color: white;
}

.project-item .day8:hover {
  background-image: url("../Day 8 - Wave Animation/img/projecthumb.jpg");
  color: rgb(53, 44, 44);
}

.project-item .day9:hover {
  position: relative;
  background-image: url("../Day 9 - Sound Board/img/projecthumb.jpg");
  color: rgb(255, 0, 120);
}

.project-item .day10:hover {
  position: relative;
  background-image: url("../Day 10 - Dad Jokes/img/projecthumb.jpg");
  color: var(--main-col);
}

.project-item .day11:hover {
  position: relative;
  background-image: url("../Day 11 - Event KeyCodes/img/projecthumb.jpg");
  color: brown;
}

.project-item .day12:hover {
  position: relative;
  background-image: url("../Day 12 - FAQ Collapse/img/projecthumb.jpg");
  color: #00f3ff;
}

.project-item .day13:hover {
  position: relative;
  background-image: url("../Day 13 - Random picker/img/projecthumb.jpg");
  color: var(--main-col);
}

.project-item .day14:hover {
  position: relative;
  background-image: url("../Day 14 - Animated Navigation/img/projecthumb.jpg");
  color: white;
}

.project-item .day15:hover {
  position: relative;
  background-image: url("../Day 15 - Incrementing Counter/img/projecthumb.jpg");
  color: #d00e0e;
}

.project-item .day16:hover {
  position: relative;
  background-image: url("../Day 16 - Drink Water/img/projecthumb.jpg");
  color: white;
}

.project-item .day17:hover {
  position: relative;
  background-image: url("../Day 17 - Movie App/img/projecthumb.jpg");
  color: rgb(250, 246, 37);
  text-shadow: 2px 1px 1px black;
}

.project-item .day18:hover {
  position: relative;
  background-image: url("../Day 18 - Background Slider/img/projecthumb.jpg");
  color: #00f3ff;
}

.project-item .day19:hover {
  position: relative;
  background-image: url("../Day 19 - Theme Clock/img/projecthumb.jpg");
  color: #00f3ff;
}

.project-item .day20:hover {
  position: relative;
  background-image: url("../Day 20 - Button Ripple Effect/img/projecthumb.jpg");
  color: #00f3ff;
}

.project-item .day21:hover {
  position: relative;
  background-image: url("../Day 21 - Drag&Drop/img/projecthumb.jpg");
  color: var(--main-col);
}

.project-item .day23:hover {
  position: relative;
  background-image: url("../Day 23 - Kinetic CSS Loader/img/projecthumb.jpg");
  color: #00f3ff;
}

.project-item .day25:hover {
  position: relative;
  background-image: url("../Day 25 - Sticky Navbar/img/projecthumb.jpg");
  color: #d00e0e;
}

.project-item .day27:hover {
  position: relative;
  background-image: url("../Day 27 - Toast Notifications/img/projecthumb.jpg");
  color: var(--main-col);
}

.project-item .day29:hover {
  position: relative;
  background-image: url("../Day 29 - Double Heart Click/img/projecthumb.jpg");
  color: white;
}

.project-item .day30:hover {
  position: relative;
  background-image: url("../Day 30 - Auto Text Effect/img/projecthumb.jpg");
  color: var(--main-col);
}

.project-item .day32:hover {
  position: relative;
  background-image: url("../Day 32 - Good, Cheap, Fast Checkboxes/img/projecthumb.jpg");
  color: var(--main-col);
}
