* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-col);
  overflow-x: hidden;
  margin-bottom: 5rem;
}

/* NAVIGATION */
.navigation {
  position: sticky;
  top: 0;
}

/* MAIN CONTAINER */
.main-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}

.title-container {
  text-align: center;
}

.title-container h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 6rem;
  color: var(--main-col);
}

.title-container p {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--sec-col);
  font-weight: 400;
}

.projects-container {
  margin-top: 5rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.project-item {
  background-color: var(--main-col);
  border-radius: 0.5rem;
}

.project-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15rem;
  text-decoration: none;
  color: var(--bg-col);
  font-family: "Roboto", sans-serif;
}

.project,
.project-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: auto 0;
}

.project-number {
  font-size: 5rem;
  /* line-height: 3; */
}

.project-title {
  font-size: 1.4rem;
}

/* MOBILE */
@media screen and (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .project-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 3.3rem;
  }
}

@media screen and (max-width: 700px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
