* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #203239;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* TRIANGLES */

.kinetic {
  position: relative;
  height: 8rem;
  width: 8rem;
}

.kinetic::before,
.kinetic::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5rem solid transparent;
  border-bottom-color: #e0ddaa;
}

.kinetic::after {
  animation: rotateAfter 2s linear infinite 0.5s;
}

.kinetic:before {
  transform: rotate(90deg);
  animation: rotateBefore 2s linear infinite;
}

@keyframes rotateAfter {
  0%,
  25% {
    transform: rotate(0deg);
  }
  50%,
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateBefore {
  0%,
  25% {
    transform: rotate (90deg);
  }
  50%,
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
