* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecb365;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */
.project-container {
  display: flex;
  flex-direction: column;
}

/* TITLE */

.title {
  color: #064663;
  font-size: 4rem;
}

i {
  color: #e0144c;
}

/* HEART COUNTER */

.heart-counter {
  font-size: 2rem;
  text-align: center;
  color: #04293a;
  margin-bottom: 2rem;
}

.counter {
  color: #e0144c;
}

/* IMG */

.image {
  height: 50rem;
  margin: 0 auto;
}
