* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecb365;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */
.project-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* TITLE */

.title {
  color: #064663;
  font-size: 4rem;
  text-align: center;
}

i {
  color: #e0144c;
}

/* HEART COUNTER */

.heart-counter {
  font-size: 2rem;
  text-align: center;
  color: #04293a;
  margin-bottom: 2rem;
}

.counter {
  color: #e0144c;
}

/* IMG */

.image {
  height: 50rem;
  margin: 0 auto;
}

.image:hover {
  cursor: pointer;
}

/* HEART ANIMATION */

.animated {
  /* visibility: hidden; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: expand 0.7s linear;
}

@keyframes expand {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(20);
    top: 30%;
    left: 70%;
    opacity: 0;
  }
}

/* MOBILE */

@media screen and (max-width: 700px) {
  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .heart-counter {
    font-size: 1.6rem;
  }

  .image {
    width: 30rem;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .project-container {
    width: 80%;
  }

  .title {
    font-size: 1.6rem;
  }

  .head-counter {
    font-size: 1.2rem;
  }

  .image {
    max-width: 80%;
  }
}
