* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eeedde;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* CONTAINER */

.project-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.getData {
  margin: 2rem auto;
  padding: 1rem 3rem;
  border-radius: 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #b3541e;
  color: var(--bg-col);
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.getData:active {
  transform: scale(0.95);
}

/* CARD CONTAINER*/
.card-container {
  margin: 0 auto;
  width: 60%;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: #ffccd2;
}

/* IMAGE CONTAINER */
.main-img-container {
  /* max-width: 100%; */
  height: 20rem;
  border-radius: 1rem 1rem 0 0;
}

/* MAIN IMAGE */

.main-img-container {
  background-size: cover;
}

/* INFO CONTAINER */
.info-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TITLE CONTAINER */
.title-container {
  margin-bottom: 4rem;
  width: 100%;
  text-align: center;
}

.title,
.description {
  border-radius: 1rem;
}
.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #b3541e;
  height: 3.7rem;
}

.description {
  font-size: 1.8rem;
  color: #495371;
  height: 2.2rem;
}

/* ID CONTAINER */

.id-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  width: 100%;
}

.profile-pic {
  width: 100%;
}

/* ID INFO */

.profile-pic-container {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  overflow: auto;
}

.name,
.occupation {
  border-radius: 1rem;
}

.name {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  height: 1.8rem;
  width: 20rem;
  color: #362222;
}

.occupation {
  font-size: 1.4rem;
  font-weight: 300;
  color: #495371;
  height: 1.6rem;
  display: inline-block;
  width: 10rem;
}

.bg-animation {
  background-image: linear-gradient(
    to right,
    #ffaab4 0%,
    #ff97a3 10%,
    #ffaab4 20%,
    #ffaab4 100%
  );
  background-size: 200% 100%;
  animation: bgChange 1s linear infinite;
}

@keyframes bgChange {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}

/* MOBILE */

@media screen and (max-width: 1490px) {
  .project-container {
    width: 80%;
  }

  .card-container {
    width: 60%;
  }

  .id-container {
    gap: 2rem;
  }

  .name {
    width: 12rem;
  }

  .occupation {
    width: 8rem;
  }
}

@media screen and (max-width: 830px) {
  .project-container {
    width: 70%;
  }
  .card-container {
    width: 100%;
  }
  .profile-pic-container {
    height: 8rem;
    width: 8rem;
  }
}

@media screen and (max-width: 450px) {
  .project-container {
    width: 85%;
  }

  .profile-pic-container {
    height: 6rem;
    width: 6rem;
  }
}
