* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9d5ca;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */

.project-container {
  width: 60%;
  background-color: #827397;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  margin-top: 10rem;
}

.faq {
  color: #363062;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 3rem;
}

/* QUESTIONS CONTAINER */

.questions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.1rem solid #e9d5ca;
  overflow-y: hidden;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: rgb(247, 225, 104);
  transition: 0.3s ease-out;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  transition: 0.3s linear;
}

.questions-container.active {
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 0;
}

/* QUESTION */

.question {
  padding: 1rem;
  width: 80%;
}

/* ICON */

.icon {
  margin-right: 1rem;
  transition: 0.3s linear;
  align-self: center;
}

.questions-container.active .icon {
  transform: rotate(180deg);
}

/* ANSWER */

.answer {
  border: 0.1rem solid #e9d5ca;
  border-top: none;
  color: #e9d5ca;
  font-style: italic;
  font-size: 1.4rem;
  background-color: #4d4c7d75;
  height: 0;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.answer.active {
  height: 10rem;
  opacity: 1;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

/* MOBILE */

@media screen and (max-width: 890px) {
  /* asdad */
}
