* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5e8c7;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */

.project-container {
  background-color: #ecccb2;
  padding: 2rem;
  width: 70rem;
  border-radius: 1rem;
}

/* IMAGE CONTAINER */

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  padding: 1rem;
  scroll-behavior: smooth;
}

.item {
  margin-right: 2rem;
}

img {
  border-radius: 1rem;
}

/* CAROUSEL NAVIGATION */

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.previous,
.next {
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: #ac7088;
  color: #f5e8c7;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.previous:active,
.next:active {
  transform: scale(0.98);
}

.previous:hover,
.next:hover {
  background-color: #7e4c60;
}

.previous {
  padding: 1rem 2rem;
}

.next {
  padding: 1rem 3.5rem;
}

/* UTILITARY */

.mobile {
  display: none;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .project-container {
    margin-left: 0;
    padding: 1rem;
    width: 36rem;
  }

  .item {
    margin-right: 2rem;
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .img {
    width: 32rem;
  }
}
