* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.848);
}

/**************************************************************************/
/* DESKTOP */

/* Container */

.container {
  height: 100vh;
  width: 90vw;
  padding: 1%;
  align-items: center;
}

/* Panel */

.panel {
  background-size: cover;
  height: 90%;
  width: 5%;
  border-radius: 1.5rem;
  overflow-x: hidden;
  align-items: bottom;
  margin: 0 1rem;
  cursor: pointer;
  transition: flex 0.5s ease-in;
}

.panel-1 {
  background-image: url(img/Spring2.jpg);
}

.panel-2 {
  background-image: url(img/Summer.jpg);
}

.panel-3 {
  background-image: url(img/Autumn.jpg);
}

.panel-4 {
  background-image: url(img/Winter.jpg);
}

.panel-5 {
  background-image: url(img/FiP.jpg);
}

.active {
  flex-grow: 999999;
}

/* Bottom Label */

.copy {
  margin-bottom: 3rem;
}

.icon {
  padding-left: 1.5rem;
}

.fas {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  font-size: 3rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
}

.fa-cloud-sun {
  color: #08b402;
}

.fa-sun {
  color: rgb(255, 196, 0);
}

.fa-cloud-rain {
  color: rgb(216, 50, 9);
}

.fa-snowflake {
  color: rgb(75, 170, 165);
}

.text {
  margin: auto 0;
  padding-left: 2rem;
  color: #fff;
}

p {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
}

/* Utilitary classes */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/******************************************************************************/
/* MOBILE */

@media screen and (max-width: 600px) {
  /* Panel */
  .panel {
    /* background-size: cover; */
    background-position: center;
    height: 7%;
    width: 95%;
    border-radius: 0.7rem;
    overflow-y: hidden;
    justify-content: flex-start;
    margin: 1rem 0;
    cursor: pointer;
    transition: flex 0.5s ease-in;
  }

  .copy {
    margin-top: 0.7rem;
  }

  .fas {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.6rem;
    font-size: 1.5rem;
  }

  .text {
    padding-left: 1.5rem;
    margin-top: 1rem;
  }

  p {
    white-space: pre-wrap;
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.95);
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
  }

  /* Utilitary */
  .flex {
    display: flex;
    flex-direction: column;
  }
}
