* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  height: 100vh;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
  z-index: 99;
}

.project-container {
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.split {
  position: relative;
  height: 100%;
}

.split.left {
  background-image: url("img/MC2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  transition: flex-grow 0.5s linear;
}

.split.left::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(39, 85, 59, 0.7);
}

.split.right {
  background-image: url("img/L2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  transition: flex-grow 0.5s linear;
}

.split.right::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(122, 112, 50, 0.7);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.text h1 {
  font-size: 5rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
  margin-bottom: 2rem;
  transition: font-size 0.5s linear;
}

.split.left:hover {
  flex-grow: 4;
}

.split.left:hover .text h1,
.split.right:hover .text h1 {
  font-size: 10rem;
}

.split.right:hover {
  flex-grow: 4;
}

.btn {
  background: var(--bg-col);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(138, 0, 0);
}

.quote {
  position: absolute;
  z-index: 999;
  bottom: 2rem;
  color: white;
  font-style: italic;
  font-size: 3rem;
}

.quote-left {
  left: -100vw;
  transition: left 0.5s linear;
}

.quote-right {
  right: -100vw;
  transition: right 0.5s linear;
}

.split.left:hover .quote-left {
  left: 2rem;
}

.split.right:hover .quote-right {
  right: 2rem;
}
