* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffd692;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */
.project-container {
  width: 40%;
  text-align: center;
  background: #f7f6de;
  border-radius: 1rem;
}

/* TITLE */

.question-txt {
  font-size: 3rem;
  margin: 2rem 0;
  color: #6e2142;
  height: 7rem;
  padding: 0 2rem;
}

/* ANSWER */

.answer-container {
  margin-bottom: 3rem;
  height: 15rem;
}

.answer {
  margin-left: 40%;
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #dbc8ac;
  background-color: #eddbc0;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #d3756b;
}

label {
  color: #943855;
  font-size: 2rem;
  cursor: pointer;
}

/* SUBMIT BUTTON */

input[type="submit"] {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
  border: none;
  background-color: #e16363;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #6e2142;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #cc5c5c;
}

/* MOBILE */

@media screen and (max-width: 1200px) {
  .project-container {
    width: 60%;
  }

  .question-txt {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }
  .project-container {
    width: 90%;
  }

  .answer {
    margin-left: 20%;
  }

  .question-txt {
    margin-bottom: 4rem;
  }
}
