* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffd692;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */
.project-container {
  width: 30%;
  text-align: center;
  background: #f7f6de;
  border-radius: 1rem;
}

/* TITLE */

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #6e2142;
}

/* ANSWER */

.answer-container {
  margin-bottom: 3rem;
}

.answer {
  margin-left: 45%;
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

label {
  color: #943855;
  font-size: 1.4rem;
  cursor: pointer;
}

/* SUBMIT BUTTON */

input[type="submit"] {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
  border: none;
  background-color: #e16363;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #6e2142;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #cc5c5c;
}
