* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8ede3;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */

.project-container {
  color: #975c8d;
  text-align: center;
  width: 30%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

/* SUBMIT REVIEW CONTAINER */

.confirmation-container,
.submit-review-container {
  background-color: #ffd8a9;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
}

/* OPTIONS CONTAINER */
.options-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.review {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  min-width: 12rem;
}

.review:active {
  transform: scale(0.98);
}

.review:hover,
.active {
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #ff7c7c;
}

.review p {
  font-size: 2rem;
}

i {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.submit {
  text-align: center;
}

.submit span {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  background: #975c8d;
  color: #ffd8a9;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.submit span:active {
  transform: scale(0.98);
}

/* CONFIRMATION CONTAINER */

.confirmation-container {
  height: 29.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.confirmation-container > i {
  color: rgba(255, 0, 0, 0.7);
}

.feedback-value {
  margin-bottom: 2rem;
}

.feedback-value,
.feedback-value + p {
  font-size: 2rem;
}

.hide {
  display: none;
}

/* MOBILE */

@media screen and (max-width: 1200px) {
  .project-container {
    width: 60%;
  }
  .submit-review-container {
    padding: 3rem;
  }

  .options-container {
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  i {
    font-size: 4rem;
  }

  .confirmation-container {
    height: 26.2rem;
  }

  .confirmation-container > i {
    font-size: 3rem;
  }

  .feedback-value,
  .feedback-value + p,
  .unhappy p,
  .neutral p,
  .satisfied p {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .project-container {
    width: 90%;
  }
  .submit-review-container {
    padding: 1rem;
  }

  .options-container {
    justify-content: space-between;
  }

  .unhappy,
  .neutral,
  .satisfied {
    min-width: 10rem;
  }

  .unhappy p,
  .neutral p,
  .satisfied p {
    font-size: 1.4rem;
  }

  i {
    font-size: 3rem;
  }

  .submit span {
    font-size: 1.4rem;
  }

  .confirmation-container {
    height: 23.2rem;
  }

  .confirmation-container > i {
    font-size: 2rem;
  }

  .feedback-value,
  .feedback-value + p {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
