:root {
  --prim-col: #232931;
  --sec-col: #393e46;
  --green4e: #4ecca3;
  --grayee: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  margin-top: 4.4rem;
  background-color: var(--prim-col);
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

.navigation nav {
  padding: 0 2rem;
}

/* HEADER*/

.form {
  margin: 5rem 0 1rem;
  padding: 0.5rem 3rem;
}

/* SEARCH FIELD */

.search {
  margin-left: auto;
  display: block;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--main-col);
}

.search:focus,
.search:active {
  outline: 0;
  background-color: var(--grayee);
}

.search::placeholder {
  font-style: italic;
  letter-spacing: 0.2rem;
  word-spacing: 10vh;
  color: var(--prim-col);
}

/* MOVIES LIST */

.movies-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0 2rem 0 3rem;
}

/* MOVIE ITEM */

.movie-item {
  background-color: var(--sec-col);
  margin: 0 1rem 1rem 0;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.poster-container,
.movie-poster {
  min-height: 45.3rem;
}

.movie-poster {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 3rem;
  color: var(--grayee);
}

/* MOVIE INFO */

.movie-info {
  padding: 2rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.movie-title {
  color: var(--green4e);
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  margin-right: 2rem;
}

.rating {
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

/* RATING DYNAMIC CLASSES */
.good {
  background-color: #54b435;
  color: #395144;
}

.so-so {
  background-color: #e1de2f;
  color: #3e0707;
}

.meh {
  background-color: #e14d2a;
  color: #820000;
}

.bad {
  background-color: #c21010;
  color: #ffc4c4;
}

/* SYNOPSIS */

.synopsis {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 50%;
  transform: translateY(101%);
  transition: transform 0.3s ease-out;
}

.synopsis-title {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: var(--sec-col);
}

.synopsis-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.movie-item:hover .synopsis {
  transform: translateY(0);
  overflow-y: scroll;
  scrollbar-color: var(--main-col) transparent;
  scrollbar-width: thin;
}

.synopsis::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #393e46a4;
}
.synopsis::-webkit-scrollbar-thumb {
  background-color: var(--main-col);
  border-radius: 0.5rem;
}

.synopsis::-webkit-scrollbar-thumb:hover {
  background-color: #e14d2a;
}

/* MOBILE */

@media screen and (max-width: 1370px) {
  .search::placeholder {
    word-spacing: 10vw;
  }
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .poster-container,
  .movie-poster {
    min-height: 38rem;
  }

  .movie-poster,
  .movie-title {
    font-size: 2rem;
  }

  .rating {
    min-width: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .navigation nav ul li:last-child {
    margin-right: 0;
  }

  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .poster-container,
  .movie-poster {
    min-height: 23rem;
  }

  .movie-poster,
  .movie-title {
    font-size: 1.8rem;
  }

  .movie-title {
    margin-right: 1rem;
  }

  .rating {
    min-width: 3rem;
  }

  .synopsis-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .search {
    margin: 0 auto;
  }
  .search::placeholder {
    word-spacing: 22vw;
  }
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .poster-container,
  .movie-poster {
    min-height: 26rem;
  }

  .movie-poster,
  .movie-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 399px) {
  .search {
    width: 100%;
  }
  .search::placeholder {
    word-spacing: 42vw;
  }
  .movies-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .poster-container,
  .movie-poster {
    min-height: 45rem;
  }

  .movie-poster {
    font-size: 3rem;
  }

  .rating {
    min-width: 4rem;
  }
}
