* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: steelblue;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

/* VALID DRAG LOCATIONS */

.valid-position {
  height: 15rem;
  width: 15rem;
  background-color: white;
  border: 0.5rem solid black;
}

/* IMAGE ELEMENT */

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  height: 14rem;
  width: 14rem;
}

/* UTILITY CLASSES FOR DRAG/DROP FUNCTIONS */

.hold {
  border: solid 0.5rem #ccc;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
