:root {
  --col-white: #ffffff;
  --col-gray: #b3b3b3;
  --col-progress-btns: rgb(0, 159, 233);
  --bg-col: #f0f0f0;
  --bar-width: 0%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--bg-col);
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Navigation */

.navigation {
  position: absolute;
  top: 0;
}

/* Container */

.container {
  width: 60%;
  height: auto;
  padding: 1rem 2rem;
}

/* List */

.steps {
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem 0.5rem;
  position: relative;
}

.steps::after {
  content: "";
  background-color: var(--col-gray);
  z-index: -2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 96%;
  height: 0.3rem;
}

.step {
  padding: 0.6rem 1.3rem;
  border: 2px solid var(--col-gray);
  border-radius: 50%;
  background-color: var(--col-white);
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--col-gray);
}

/* Progress bars */

.progress-bar {
  height: 0.3rem;
  background-color: var(--col-progress-btns);
  width: var(--bar-width);
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.15s ease-in-out;
}

/* Progress buttons */

.buttons {
  text-align: center;
}

.btn {
  padding: 0.7rem 2rem;
  color: var(--col-white);
  background-color: var(--col-progress-btns);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn:active {
  transform: scale(0.95);
}

.previous {
  margin-right: 3rem;
}

/* Utility classes */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.step-completed {
  border: 0.25rem solid var(--col-progress-btns);
  color: #222;
}

.disabled {
  background-color: var(--col-gray);
  pointer-events: none;
}

/* MOBILE */
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}
