* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #deb6ab;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem 0 4rem;
  width: 80%;
}

.title {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: #361500;
}

/* IMG CONTAINER */

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
}

img {
  width: 30rem;
  height: 30rem;
  box-shadow: 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
}

/* MOBILE */

@media screen and (max-width: 1200px) {
  .project-container {
    width: 100%;
  }

  .img-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    padding: 0 2rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .img-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
    width: 90%;
  }
}
