* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  background-color: #f3f3f3;
  position: relative;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
  z-index: 2;
}

/* PROJECT CONTAINER */

.project-container {
  width: 30%;
  text-align: center;

  margin-bottom: 3rem;
}

/* TITLE */
.watermark {
  color: #b08bbb;
  opacity: 0.4;
  font-size: 15rem;
  margin-bottom: 30rem;
}

/* INPUT FIELD */
input,
.todo {
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}
input {
  width: 70%;
  padding: 1rem;
  border: none;
  margin-bottom: 3rem;
  font-size: 2rem;
}

input:focus {
  outline: transparent;
}

input::placeholder {
  font-style: italic;
  color: #c0c0c0;
}

/* INSTRUCTIONS */

.txt,
.txt-mobile {
  color: #c0c0c0;
  font-size: 2rem;
}

.txt-mobile {
  display: none;
}

/* TODO LISTS */

.todo {
  position: absolute;
  width: 40rem;
}

.todo-left,
.todo-right {
  top: 10rem;
}

.todo-left {
  left: 2rem;
}

.todo-right {
  right: 2rem;
}

.todo p {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 0.1rem;
  background: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-align: left;
  position: relative;
}

.todo p:last-child {
  border-bottom: none;
}

.todo p:hover {
  cursor: pointer;
}

.todo p i {
  font-size: 2rem;
  color: green;
  position: absolute;
  top: -1rem;
  right: -1rem;
  z-index: 99;
}

.todo p.done {
  background-color: rgba(4, 171, 33, 0.17);
  color: green;
}

.hidden {
  display: none;
}

/* MOBILE */

@media screen and (max-width: 1200px) {
  body {
    align-items: flex-start;
    overflow-y: auto;
  }
  .project-container {
    margin-top: 5rem;
    width: 80%;
  }
  .watermark {
    margin-bottom: 0;
  }
  .instructions {
    margin-bottom: 2rem;
  }
  input {
    width: 80%;
  }
  .todo-left {
    position: unset;
    width: 80%;
    margin: 0 auto 2rem;
  }
  .todo-right {
    display: none;
  }
  .txt {
    display: none;
  }

  .txt-mobile {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .project-container {
    width: 100%;
  }
  .watermark {
    font-size: 10rem;
  }
}
