* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #84d2c5;
}

/* NAVIGATION */

section.navigation {
  position: absolute;
  bottom: 9rem;
  background: white;
  width: 50rem;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
}

.navigation nav a {
  color: #bbb;
  font-size: 1.8rem;
}

.navigation nav ul {
  width: 100%;
  justify-content: center;
  margin-left: 0;
  padding: 2rem 1rem 1rem 1rem;
}

.navigation nav ul li {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 25%;
}

.navigation nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  text-align: center;
  height: 5rem;
}

.navigation nav ul li a:hover {
  color: var(--main-col);
}

.navigation nav ul li i {
  text-align: center;
  font-size: 3rem;
  color: #bbb;
  cursor: pointer;
}

.navigation nav ul li i:active {
  color: var(--main-col);
}

/* PROJECT-CONTAINER */

.project-container {
  border: 0.3rem solid white;
  height: 80vh;
  width: 50rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.project-container:before {
  content: "";
  height: 100%;
  transform: skewY(45deg);
  width: 2rem;
  top: 0.3rem;
  right: -1.4rem;
  background-color: #333;
  position: absolute;
  z-index: -1;
  border-radius: 1rem;
}

.project-container:after {
  content: "";
  width: 102%;
  transform: skewX(35deg);
  height: 1.5rem;
  bottom: -1rem;
  right: -1.1rem;
  background-color: #333;
  position: absolute;
  z-index: -1;
  border-radius: 1rem;
}

/* IMAGE */

.img-container {
  background-image: url("./img/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: all 0.3s ease;
}
