* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #84d2c5;
}

/* NAVIGATION */

section.navigation {
  position: absolute;
  bottom: 9rem;
  background: white;
  width: 50rem;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
}

.navigation nav a {
  color: #bbb;
  font-size: 1.8rem;
}

.navigation nav ul {
  width: 100%;
  margin-left: 0;
  padding: 2rem 1rem 1rem;
}

.navigation nav ul li {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 25%;
}

.navigation nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  text-align: center;
  height: 5rem;
}

.navigation nav ul li a:hover {
  color: var(--main-col);
}

.icon {
  text-align: center;
  font-size: 3rem;
  color: #bbb;
  cursor: pointer;
}

.icon.active {
  color: var(--main-col);
}

/* PROJECT-CONTAINER */

.project-container {
  border: 0.3rem solid white;
  height: 80vh;
  width: 50rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.project-container:before {
  content: "";
  height: 101%;
  transform: skewY(45deg);
  width: 2rem;
  top: 0.3rem;
  right: -1.4rem;
  background-color: #333;
  position: absolute;
  z-index: -1;
  border-radius: 1rem;
}

.project-container:after {
  content: "";
  width: 102%;
  transform: skewX(35deg);
  height: 1.5rem;
  bottom: -1.7rem;
  right: -1.1rem;
  background-color: #333;
  position: absolute;
  z-index: -1;
  border-radius: 1rem;
}

.copyright {
  position: absolute;
  background: transparent;
  z-index: 2;
  left: 2rem;
  top: 2rem;
}

.copyright a {
  font-size: 2rem;
  text-decoration: none;
  color: yellow;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

/* IMAGE */

.img-container {
  background-image: url("./img/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.meta {
  display: none;
  position: absolute;
  top: -5rem;
  font-size: 2rem;
  color: var(--main-col);
  text-align: center;
  width: 100%;
  font-weight: 600;
}

/* MOBILE */
@media screen and (max-width: 1200px) {
  section.navigation {
    bottom: 10vh;
  }

  section.navigation,
  .project-container {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  section.modal-readme {
    width: 95vw;
  }
  section.navigation {
    z-index: 2;
    width: 86vw;
  }

  .navigation nav {
    display: block;
  }

  .navigation nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0.5rem 0;
  }

  section.navigation nav ul li {
    padding: 0;
    border: none;
  }

  .navigation nav ul li a {
    font-size: 1.2rem;
    height: 3.5rem;
  }

  .icon {
    font-size: 2rem;
  }

  .project-container {
    width: 86vw;
  }
  .project-container:after {
    bottom: -1.2rem;
    width: 103%;
  }

  .project-container:before {
    transform: skewY(40deg);
    top: 0.2rem;
  }

  .meta {
    display: block;
  }
}
