* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ceedc7, #fcf9be);
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */

.project-container {
  width: 80%;
  margin-top: 10rem;
}

/* CARDS */

.cards-grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(120deg, #ffdca9, #d9d7f1);
  border-radius: 1.5rem;
}

/* CARD */

.pokemon-card {
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
}

.pokemon-card:hover {
  transform: rotateX(-20deg) rotateY(20deg) rotateZ(10deg) scale(1.5);
  box-shadow: 0.4rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}

.img-container {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 0.1rem solid #aaa;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in;
  cursor: pointer;
  margin-bottom: 2rem;
}

.img-container:hover {
  transform: scale(1.6) translate(-5%, 10%) rotateZ(-10deg);
}

img {
  max-width: 100%;
  background-color: #eee;
}

.name,
.type {
  color: #ffffff;
  background: rgba(2, 37, 58, 0.8);
  border-radius: 50rem;
  padding: 0.3rem 0.8rem;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 0 auto;
}

.number {
  font-size: 1.6rem;
  font-style: italic;
  color: #e4f58e;
  background: rgba(2, 37, 58, 0.8);
  width: min-content;
  margin: 0 auto;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.type {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
}

/* MOBILE */
@media screen and (max-width: 1600px) {
  .project-container {
    width: 80%;
  }

  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .project-container {
    width: 100%;
  }

  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .cards-grid {
    grid-template-columns: 25rem;
    justify-content: center;
  }

  .pokemon-card {
    width: 100%;
  }

  .img-container {
    margin-bottom: 4rem;
  }

  .number {
    margin-bottom: 2rem;
  }

  .type {
    margin-bottom: 1rem;
  }
}
