* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6e7d8;
}

/* NAVIGATION */

.open-menu {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.open-menu i {
  font-size: 2rem;
  cursor: pointer;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
}

.nav {
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

nav {
  display: block;
  padding: 4rem 4rem 4rem 0;
}

nav ul {
  display: block;
  padding: 0;
  padding-left: 5rem;
}

nav ul li {
  margin: 0;
  margin-bottom: 2rem;
}

nav ul li a {
  color: black;
}

nav ul li:last-child {
  margin: 0;
}

.logo-container {
  width: 100%;
  padding-left: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo-container i {
  font-size: 2rem;
  cursor: pointer;
  color: #c3c3c3;
}

.logo {
  width: 60%;
}

.home-btn {
  padding: 0;
  color: black;
}

.netflix-life {
  font-size: 2rem;
  text-transform: uppercase;
}

.life-list {
  margin-top: 2rem;
  font-style: italic;
  padding-left: 3rem;
}

.life-list li a {
  font-size: 1.6rem;
}

.nav-black,
.nav-red,
.nav-white {
  height: 100%;
}

.nav-black {
  background-color: black;
  transition-delay: 0.4s;
}

.nav-black.slide-in {
  transition-delay: 0s;
}

.nav-red {
  background-color: #db0000;
  width: 96%;
  transition-delay: 0.2s;
}

.nav-red.slide-in {
  transition-delay: 0.2s;
}

.nav-white {
  background-color: white;
  width: 96%;
  transition-delay: 0s;
}

.nav-white.slide-in {
  transition-delay: 0.4s;
}
.slide-in {
  transform: translateX(0);
}
/* PROJECT CONTAINER */

.main-page-logo {
  margin-bottom: 2rem;
}

.main-page-title {
  text-align: center;
  font-size: 1.6rem;
  font-family: cursive;
  opacity: 0.8;
}

@media screen and (max-width: 1600px) {
  .navigation {
    width: 50%;
    z-index: 99;
  }
}

@media screen and (max-width: 1200px) {
  .navigation {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .open-menu {
    right: 2rem;
    top: 2rem;
    left: unset;
  }

  .navigation {
    left: unset;
    width: 100%;
  }

  nav {
    padding: 3rem 2rem 2rem 0;
  }

  nav ul,
  .logo-container {
    padding-left: 2rem;
  }

  nav ul li:first-of-type {
    padding: 0;
    border: none;
  }

  nav ul li:first-of-type a {
    margin: 0;
  }

  .nav {
    width: 100%;
    transform: translateY(-100%);
  }

  .nav-black {
    height: 80%;
  }

  .nav-red {
    height: 98%;
  }

  .nav-white {
    height: 98%;
    overflow-y: scroll;
  }

  .project-container {
    width: 90%;
  }

  .main-page-logo {
    width: 100%;
  }

  .slide-in {
    transform: translateY(0);
  }
}
