* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.project-container,
.background-image,
.loading-counter {
  width: calc(100% + 6rem);
  height: calc(100% + 6rem);
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
  z-index: 99;
}

/* BACKGROUND IMAGE */
.background-image {
  position: absolute;
  z-index: -1;
  top: -3rem;
  left: -3rem;
}
.img {
  background-image: url("img/aurora.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(100px);
}

/* LOADING COUNTER */
.loading-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 10rem;
  color: white;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.refresh {
  font-size: 3rem;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  display: none;
  color: var(--main-col);
}

.refresh:active {
  transform: scale(0.9);
}
