* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #283148;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
  z-index: 99;
}

/* PROJECT CONTAINER */

.project-container {
  background-color: #fff4e3;
  padding: 3rem 6rem;
  border-radius: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.timer {
  background-color: #e9e2d0;
  width: 100%;
  height: 0.2rem;
  margin-bottom: 2rem;
  position: relative;
}

.timer:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  z-index: 1;
  background-color: #c51350;
  animation: timeLapse 10s linear infinite;
  transform-origin: left;
}

@keyframes timeLapse {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

/* TEXT */

.quotes {
  position: absolute;
  font-size: 3rem;
  color: #be3030;
  opacity: 0.5;
}

.quote-left,
.quote-right {
  top: 5rem;
}

.quote-left {
  left: 2rem;
}

.quote-right {
  right: 2rem;
}

.testimonial {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #be3030;
}

/* CUSTOMER INFO */

.customer {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 4rem;
}

.info {
  color: #be3030;
  text-align: left;
}

.name,
.occupation {
  text-transform: uppercase;
  font-weight: 600;
}

.name {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.occupation {
  font-size: 1.2rem;
}

/* MOBILE */

@media screen and (max-width: 1200px) {
  .project-container {
    width: 80%;
  }
  .customer {
    width: 60%;
    justify-content: center;
  }
  .profile-pic {
    margin-right: 2rem;
  }
  .info {
    margin: unset;
  }
}

@media screen and (max-width: 600px) {
  .project-container {
    width: 95%;
    padding: 2rem 4rem;
  }

  .customer {
    width: 100%;
  }

  .quotes {
    font-size: 2rem;
  }

  .quote-left {
    left: 1rem;
  }

  .quote-right {
    right: 1rem;
  }

  .testimonial {
    font-size: 1.6rem;
  }

  .profile-pic {
    width: 10rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .occupation {
    font-size: 1rem;
  }
}
