* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #16213e;
  position: relative;
}

/* CONTAINER */
.container {
  transform-origin: top left;
  transition: transform 500ms linear;
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
  padding: 5rem;
}

.container.rotate {
  transform: rotate(-20deg);
}

/* ARTICLES */

.main-column {
  margin: 5rem auto;
  padding: 0 4.6rem;
}

h1 {
  font-size: 3rem;
  color: #333;
}

address {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 3rem;
}

.main-article p {
  color: #333;
  font-size: 1.6rem;
}

.main-article > p:first-child::first-letter {
  font-size: 5rem;
  float: left;
  font-weight: 600;
  background-image: linear-gradient(20deg, #8d229b, #e2ad3a);
  background-clip: text;
  color: transparent;
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 0.5rem 0.3rem 0 0;
  border: double 0.3rem purple;
  line-height: 20px;
}

.main-article > p:nth-child(2) {
  /* margin-top: 1rem; */
  /* text-indent: 4rem;  doar pe mobil */
  margin-bottom: 1rem;
}

.comment {
  text-indent: 4rem;
  font-style: italic;
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* PICTURE */

.article-pic {
  background-image: url("articleimg.jpg");
  background-size: cover;
  height: 40vh;
  max-width: 100%;
}

/* ROTATING NAV */

.nav-circle-container {
  position: fixed;
  top: -10rem;
  left: -10rem;
  /* top: 20rem;
  left: 20rem; */
}

.nav-circle {
  background-color: #ff7979;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: relative;
  transition: transform 500ms linear;
}

.menubtn {
  position: absolute;
  top: 65%;
  background-color: transparent;
  border: 0;
  font-size: 3.2rem;
  color: #fff;
  cursor: pointer;
}

.open {
  left: 65%;
}

.close {
  top: 20%;
  left: 20%;
  transform: rotate(90deg);
  transform-origin: top-left;
}

.circle-rotate {
  transform: rotate(-180deg);
}

/* MENU */

.menu-list-container {
  position: fixed;
  bottom: 4rem;
  left: 0;
}
/* UTILITARY CLASSES */
