* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* CONTAINER */
.container {
  width: 60%;
  position: relative;
}
/* ARTICLES */
.main-article > p:first-child::first-letter {
  font-size: 4.9rem;
  float: left;
  font-weight: 600;
}
/* PICTURE */

.article-pic {
  background-image: url("articleimg.jpg");
  background-size: cover;
  height: 40vh;
  width: 100%;
}

/* ROTATING NAV */

/* MENU */

/* UTILITARY CLASSES */
