* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4.4rem;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fada9d;
}

/* NAVIGATION */

.navigation {
  position: fixed;
  top: 0;
  z-index: 2;
}

/* UTILITY */

.game-screen {
  height: 100vh;
  width: 99vw;
  display: flex;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 8rem;
  margin-bottom: 3rem;
  color: #9ea1d4;
}

.hide {
  display: none;
}

/* OPENING SCREEN CONTAINER */

.opening-screen {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game-btn {
  padding: 1rem 2rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: #7f669d;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.start-game-btn:hover,
.game-start:hover {
  background-color: #59476e;
  color: rgba(255, 255, 180);
}

.start-game-btn:active,
.game-start:active {
  transform: scale(0.95);
}

/* GAME TYPE CONTAINER */

.game-type {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modes-container {
  display: flex;
  gap: 2rem;
  width: 40%;
}

.game-mode {
  width: 50%;
  text-align: center;
  border-radius: 0.5rem;
  padding: 4rem;
  font-size: 3rem;
  text-decoration: none;
  color: white;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(-45deg, #7f669d 40%, white 0 60%, #7f669d 0)
      right/320% 100% no-repeat,
    linear-gradient(-45deg, #7f669d 40%, white 0 60%, #7f669d 0) right/320% 100%
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
}

.game-mode:hover {
  background-position: left;
  transition: 0.4s;
}

.game-mode:active {
  transform: scale(0.98);
}

/* FIELD CONTAINER */

.playing-field {
  padding: 2rem;
  justify-content: space-between;
  position: relative;
}

.game-start {
  position: absolute;
  top: 6rem;
  left: 2rem;
  font-size: 2rem;
  background: #7f669d;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
}

.timer,
.score-container {
  font-size: 2rem;
  color: #7f669d;
  font-weight: 600;
  text-transform: uppercase;
}

.timer span,
.score-container span {
  color: #b3219a;
}

.score-container {
  padding-right: 5rem;
}

.bug-model {
  background-image: url("img/fly_PNG3946.png");
  background-size: cover;
  width: 6rem;
  height: 6rem;
  position: absolute;
  /* left: 20px;
  top: 80px;
  transform: rotate(245deg); */
}

/* MOBILE */
@media screen and (max-width: 1366px) {
  .modes-container {
    width: 70%;
  }

  .start-game-btn {
    font-size: 2rem;
  }

  .game-mode {
    padding: 1rem;
    font-size: 2rem;
  }

  h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #9ea1d4;
  }

  .start-game-btn {
    font-size: 1.5rem;
  }

  .modes-container {
    width: 90%;
  }

  .game-mode {
    padding: 2rem;
    font-size: 2rem;
  }

  .playing-field {
    flex-direction: column;
    justify-content: flex-start;
  }

  .game-start {
    top: 12rem;
  }

  .timer {
    margin-bottom: 2rem;
  }

  .bug-model {
    width: 4rem;
    height: 4rem;
    /* left: 20px;
    top: 120px; */
  }
}
