:root {
  --light-main-col: #000;
  --light-sec-col: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  transition: all 0.3s ease-in;
}

html.dark {
  --dark-main-col: #fff;
  --dark-sec-col: #000;
  background-color: #111;
  color: var(--main-col);
}

html.dark .toggle i::before {
  content: "\f185";
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* TOGGLE BUTTON */

.toggle {
  padding: 0;
  border: none;
  background: transparent;
}
.toggle i {
  color: var(--dark-main-col);
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 4rem;
  right: 3rem;
}
