* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2d4263;
}

.name,
.bio,
.stats p,
.repo {
  color: #ecdbba;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */

.project-container {
  width: 40%;
  background-color: #c84b31;
  padding: 2rem;
  border-radius: 1rem;
  max-height: 7.5rem;
  transition: max-height 0.4s ease-in-out;
  overflow-y: hidden;
}

/* SEARCH BAR */

.searchbar {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: #2d4263;
}

.searchbar:focus {
  outline: transparent;
}

.searchbar::placeholder {
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
}

/* INFO CONTAINER */

.profile-info-container {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  align-items: center;
}

/* .reload {
  animation: reload 0.8s;
}

@keyframes reload {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.img-container {
  width: 25%;
}

img {
  border-radius: 50%;
  width: 100%;
}

.profile-info {
  width: 75%;
}

.name,
.bio,
.stats {
  margin-bottom: 2rem;
}

.name {
  font-size: 3rem;
  text-transform: uppercase;
}

.bio {
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

.stats,
.repos {
  display: flex;
  justify-content: space-between;
}

.stats,
.repo {
  font-size: 1.8rem;
}

.stats p,
.repo {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.stats p {
  background-color: #2d4263;
}

.repo {
  text-decoration: none;
  background-color: #3f3351;
  margin-bottom: 0.5rem;
}

/* UTILITY */

.project-container.expand {
  /* height: 36.3rem; */
  max-height: 40rem;
}

/* MOBILE */

@media screen and (max-width: 1366px) {
  .project-container {
    width: 60%;
  }

  .profile-info-container {
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    width: 35%;
  }

  .profile-info {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .project-container {
    width: 90%;
    padding: 1rem;
  }

  .searchbar {
    font-size: 2.5rem;
  }

  .name {
    font-size: 3rem;
  }

  .bio {
    font-size: 2rem;
  }

  .stats {
    flex-wrap: wrap;
  }

  .stats p {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    padding: 1.5rem;
  }

  .repos {
    flex-wrap: wrap;
  }

  .repo {
    width: 49%;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    padding: 0.8rem;
  }
}
