* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5e8c7;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* UTILITY */
.counter-container,
.user-input-container,
.textarea-container {
  display: flex;
  flex-direction: column;
}

.counter-container,
.custom-setup-container {
  padding: 2rem;
  border-radius: 1rem;
}

/* PROJECT CONTAINER */

.project-container {
  width: 40%;
}

/* CUSTOM SETUP */

.custom-setup-container {
  background-color: #f1a661;
  color: #553939;
  margin-bottom: 2rem;
  height: 8rem;
  overflow: hidden;
}

.custom-setup-container.expanded {
  height: auto;
}

.custom-setup-title {
  font-size: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-setup-title:hover {
  cursor: pointer;
}
/* COUNTER CONTAINER */

.counter-container {
  background-color: #deb6ab;
  align-items: center;
}

.number-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.number-container label,
.textarea-container label {
  font-size: 2rem;
}

.starting-num,
.user-messages {
  background-color: #fdeedc;
  border: 0;
  border-radius: 0.5rem;
}

.starting-num {
  width: 5rem;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
}

.starting-num::-webkit-outer-spin-button,
.starting-num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.user-messages {
  padding: 1rem;
  font-size: 1.6rem;
  resize: none;
  width: 100%;
  color: #553939;
}

.msg {
  text-align: center;
}
