* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5e8c7;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* UTILITY */
.counter-container,
.user-input-container,
.textarea-container {
  display: flex;
  flex-direction: column;
}

.counter-container,
.custom-setup-container {
  padding: 2rem;
  border-radius: 1rem;
}

/* PROJECT CONTAINER */

.project-container {
  width: 40%;
}

/* CUSTOM SETUP */

.custom-setup-container {
  background-color: #f1a661;
  color: #553939;
  margin-bottom: 2rem;
  height: 8rem;
  overflow: hidden;
}

.custom-setup-container.expanded {
  height: auto;
}

.custom-setup-title {
  font-size: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-setup-title:hover {
  cursor: pointer;
}

.number-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.number-container label,
.textarea-container label {
  font-size: 2rem;
}

.textarea-container label {
  margin-bottom: 2rem;
}

.starting-num,
.user-messages {
  background-color: #fdeedc;
  border: 0;
  border-radius: 0.5rem;
}

.starting-num {
  width: 5rem;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
}

.starting-num::-webkit-outer-spin-button,
.starting-num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.user-messages {
  padding: 1rem;
  font-size: 1.6rem;
  resize: none;
  width: 100%;
  color: #553939;
}

/* COUNTER CONTAINER */

.counter-container {
  background-color: #deb6ab;
  align-items: center;
  height: 25rem;
  justify-content: space-between;
}

.nums-container {
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.nums-container p {
  font-size: 6rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(120deg);
  transform-origin: bottom center;
  opacity: 0;
}

.nums-container p.active {
  transform: translateX(-50%) rotate(0deg);
  opacity: 1;
  animation: count 0.5s ease-in-out;
}

.nums-container p.counted {
  transform: translateX(-50%) rotate(0deg);
  opacity: 1;
  animation: countOut 0.5s ease-in-out;
}

@keyframes count {
  0% {
    transform: translateX(-50%) rotate(120deg);
    opacity: 0;
  }
  30% {
    transform: translateX(-50%) rotate(-20deg);
    opacity: 1;
  }
  60% {
    transform: translateX(-50%) rotate(20deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
    opacity: 1;
  }
}

@keyframes countOut {
  0% {
    transform: translateX(-50%) rotate(0deg);
    opacity: 1;
  }
  60% {
    transform: translateX(-50%) rotate(20deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) rotate(-120deg);
    opacity: 0;
  }
}

.prep-msg {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  opacity: 0;
  text-transform: uppercase;
}

.prep-msg.animated {
  animation: show 0.8s ease;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* RESTART BUTTON */

.restart-container {
  width: 100%;
  text-align: center;
}

.restart {
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f1a661;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
}

.restart i {
  margin-left: 1rem;
}

.restart:active {
  transform: scale(0.98);
}

/* MOBILE */

@media screen and (max-width: 1200px) {
  .project-container {
    padding-bottom: 4rem;
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }

  .custom-setup-container {
    padding-top: 1rem;
    margin-bottom: 5rem;
  }

  .custom-setup-title {
    font-size: 2.4rem;
    margin-bottom: 5rem;
  }

  .custom-setup-container.expanded {
    padding-top: 2rem;
  }

  .custom-setup-container.expanded .custom-setup-title {
    margin-bottom: 2rem;
  }

  .user-messages {
    height: 10rem;
  }

  .prep-msg {
    opacity: 1;
    font-size: 1.4rem;
  }

  .nums-container {
    margin-bottom: 4rem;
  }

  .restart {
    font-size: 1.4rem;
  }
}
