* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eff5f5;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* PROJECT CONTAINER */

/* #D6E4E5 #497174 #EB6440*/

.project-container {
  width: 30%;
  padding: 2rem;
  background-color: #d6e4e5;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  color: #eb6440;
}

/* TOGGLE CONTAINER */

.toggle-container {
  display: flex;
  align-items: center;
  margin: 2rem;
  padding-left: 18rem;
}

/* TOGGLE AND LABEL ELEMENTS */
.toggle {
  visibility: hidden;
}

.label {
  width: 7rem;
  height: 3rem;
  background-color: #acc2c2;
  border-radius: 99rem;
  cursor: pointer;
  display: inline-block;
  margin-right: 2rem;
}

.toggle:checked + .label {
  background-color: #497174;
}

.ball {
  background-color: #eb6440;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

span {
  font-size: 2rem;
  font-weight: 600;
  color: #265153;
}

/* ANIMATION */

.toggle:checked + .label .ball {
  transform: translateX(4rem);
  transition: transform 0.2s linear;
  background-color: #eb6440;
}

.toggle + .label .ball {
  transform: translateX(0rem);
  transition: transform 0.2s linear;
  background-color: #497174;
}

/* MOBILE */
@media screen and (max-width: 1600px) {
  .toggle-container {
    padding-left: 12rem;
  }
}

@media screen and (max-width: 1200px) {
  .project-container {
    width: 55rem;
  }
}

@media screen and (max-width: 600px) {
  .project-container {
    width: 80%;
    padding: 10rem 2rem;
  }
  .toggle-container {
    padding-left: 10rem;
  }
  span {
    font-size: 3rem;
  }
}
