* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* MOBILE */

@media screen and (max-width: 600px) {
  section.navigation {
    padding: 0;
  }
  nav ul {
    padding-left: 1rem;
  }

  .project-container {
    width: 80%;
  }

  label {
    display: inline-block;
    /* margin-bottom: 1rem; */
  }

  input {
    width: 100%;
  }

  .modal-readme {
    height: 90vh;
    overflow-y: scroll;
  }
}
