* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
}

/* MOBILE */

@media screen and (max-width: 500px) {
  .navigation {
    padding: 0;
  }

  .project-container {
    width: 80%;
  }

  label {
    display: inline-block;
    /* margin-bottom: 1rem; */
  }

  input {
    width: 100%;
  }
}
